/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
}
